#header{
    position: fixed;
    display: block;
    top: 0%;
  }

#title{
    width:fit-content;
    height: fit-content;
    position: fixed;
    top: -220px;
    right: 40%;
  }
  
h1{
    position: fixed;
    top: -15px;
    left: 45%;
    color: white;
  }

.Rect{
    width: 1920px;
    height: 50px;
    background: rgb(255, 94, 91);
    position: fixed;
    top:0px;
    left: 0px;
    z-index: -1;
  }

.accountpage{
    display: block;
    position: fixed;
    left: 2.5%;
    top: 0.5%;
  }

.hamb{
    position: fixed;
    display: block;
    width: 40px;
    height: 35px;
    cursor: pointer;
    z-index: 99;
  
    border: none;
    background: none;
  }
  
.hamb .bar, .hamb:after, .hamb:before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
  }
  
.mobile-nav{
    display: block;
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    padding-top: 120px;
    transition: 0.6s;
  }
  
.mobile-nav.is-active{
    position: fixed;
    right: 90%;
    width: 150px;
    min-height: 100vh;
    background-color: rgb(255, 94, 91)
  }
  
.mobile-nav a{
      display: block;
      width: 100%;
      max-width: 200px;
      margin: 0 auto 16px;
      text-align: center;
      margin-bottom: 16px;
      width: fit-content;
      padding: 12px 16px;
      color: white;
      background-color: rgb(255, 94, 91);
      border: none;
  }
  
.mobile-nav a:hover{
    background-color: rgb(255,140,140)
  }
  
.welcome{
    position: fixed;
    display: block;
    top: 1%;
    left: 82.5%;
    color: white;
    font-size: 20px;
  }
  
.support{
    position: fixed;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    width: fit-content;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    color: white;
    top: 75%;
  }

  .select{
    position: fixed;
    display: block;
    top: 80%;
    left: 46%;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background: rgb(255, 94, 91);
    color: white;
  }
  
  .randomize{
    position: fixed;
    display: block;
    top: 70%;
    left: 46%;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background: rgb(255, 94, 91);
    color: white;
  }
  
  .p{
    position: fixed;
    display: block;
    top: 63%;
    left: 35%;
    text-align: center;
  }

  h4{
    position: fixed;
    display: block;
    top: 17%;
    left: 12%;
    font-size: 40px;
  }

  .card-container {
    width: 20em;
    height: 30em;
    background-color: #ffffea;
    border-radius: 25px;
    margin-left: 40%;
    margin-top: 5em;
  }
  .card-image {
    object-fit: cover;
    width: 100%;
    height: 45%;
    border-radius: 25px 25px 0px 0px;
  }
